







body {
    background-color: rgb(100, 99, 97);
    color: rgb(238, 230, 234);
    padding: 0px;
    margin: 0px;
    min-height:100vh; 
    position:relative; 
    padding-bottom:[footer-height] 

}

.app {

    max-width: 1000px;
    width: 100%;
    display: flexbox;
    margin: 0 auto;
    text-align: center;


}

p {
    max-width: 620px;
   display: flex;
   margin: 0 auto;
   padding: 20px;
   text-align: left;
   
}


img {

    max-width: 400px;
    max-height: 400px;

  width: 100%;
    margin-top: 0px;
    filter:grayscale(100%);
    /*filter: brightness(140%), grayscale(100%); */
    filter: sepia(110%) brightness(110%) contrast(100%) grayscale(0.8);
}

h1 {

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 80px;
    margin-bottom: 100px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 140px;
}



h2 {
font-family: 'Lora', serif;
font-size: 38px;
}

h3 {

    font-family: 'Lora', serif;
    font-family: 'Playfair', serif;
    font-size: 25px;
    margin-bottom: 0px;
}


p {

    font-family: 'Times New Roman', Times, serif;
}


.app__introductionText {

    padding-bottom: 100px;
    padding-top: 35px;
    font-size: 18px;
}

.app__cardContainer {

    display: grid;

   /* grid-template-columns: repeat(3, 1fr);*/
    grid-template-columns: repeat(auto-fit, minmax(333px, 1fr));
    
    grid-auto-rows: auto;
    margin-bottom: 200px;


  margin-bottom: 300px;
  
  
}


.app__cardContainerCard {
    margin-bottom: 50px;
    padding: 15px;
    padding-top: 0px;
    margin: 30px;

   padding-bottom: 50px;
   
    background-color: rgb(193, 196, 196);
    color: rgb(100, 26, 26);
    border-radius: 5px 5px 5px;
    min-width: 100px;
    max-width: 300px;
   

}

.app__cardContainerCardText {

    min-width: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 13px;
    text-align: left;
}



.app__cardContainerCardImg {

    width: 1fr;
    
    margin-bottom: 5px;
    filter: none;
    filter: sepia(100%) grayscale(1.8) brightness(90%);
    height: 200px;
    object-fit: cover;
    
    

}

.app__cardContainerCardImg:before {

    background-color: aqua;
}




a {

    color: rgb(61, 30, 30);
    text-decoration: none;

}

a:hover {

    color: rgb(100, 26, 26);
    text-decoration: none;
    background-color: rgb(65, 16, 19);
 
}




footer {

    background-color: rgb(39, 33, 31);

    display: flex;
    object-fit: fill;
    justify-content: space-between;

    margin: 0px;
    padding: 0px;
    padding-top: 25px;
    padding-bottom: 25px;

    align-items:center;
}



.footer__text {

    font-size: 16px;
    padding: 10px;
    padding-right: 30px;
    padding-left: 30px;
    text-align: left;
    color: rgb(207, 194, 194);
    
}

.footer__textLink {

    color: rgb(207, 194, 194);
}

.footer__textLink:hover {

    color: rgb(238, 192, 192);
    background-color: transparent;
}

footer {


    margin-bottom: 0px;
    position: relative; 
    left: 0 ; right: 0; bottom: 0; 
    height:[footer-height] ;
    margin-top: 26vh;
    
}




@media only screen and (max-width: 750px) {
  
    h1 {

        font-size: 80px
    }

 .app__cardContainer {

 width:min-content;

 margin: 0 auto;

   
    }

    footer.footer  {

        display: block;
        margin: 0 auto;

    }

    .footer__text {
        width: fit-content;
        margin: 0 auto;
    }

}





.app__introductionImage {

    background-image: url("../images/frontlowres.jpg");
}
